html{
    scroll-padding: 4em;
}

body{
    padding-top: 75px;
}
.navbar-brand{
    color: #101820;
    font-size: 2.5em;
}
.navbar-nav{
    font-size: 1.5em;
    font-family: monospace; 
}
.nav-link:hover{
  color: #39506d !important; 
}

#profile-image{
    border-radius: 20em;
}

.cardsContainer{
    width: 100%;
}

/*To make the image size of all card the same, irrespective of the size of the source image.*/
.img-size{
    width: 100%;
    height: 32vh;
    object-fit: cover;
}
/*Changing the color of timeline dot.*/
.timeline-item:after{
    background-color: #ffc107 !important;
}
.btn-primary, .btn-primary-active, .btn-primary:visited{
    background-color: #ffc107 !important;
    color: #101820 !important;
    font-weight: bold !important;
    border-color: #111110 !important;
}
.btn-primary:hover{
    background-color: #ffcd37 !important;
}

svg:hover{
    fill: #ffc107;
}
#copyrightFooter{
    background-color: #ffc107 !important;
}
#github-link-footer{
    text-decoration: none;
}